<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ecng.Collections" version="1.0.66" targetFramework="net472" />
  <package id="Ecng.Common" version="1.0.63" targetFramework="net472" />
  <package id="Ecng.ComponentModel" version="1.0.69" targetFramework="net472" />
  <package id="Ecng.Configuration" version="1.0.63" targetFramework="net472" />
  <package id="Ecng.Interop" version="1.0.69" targetFramework="net472" />
  <package id="Ecng.IO" version="1.0.63" targetFramework="net472" />
  <package id="Ecng.Localization" version="1.0.67" targetFramework="net472" />
  <package id="Ecng.Lzma" version="1.0.21" targetFramework="net472" />
  <package id="Ecng.Net" version="1.0.73" targetFramework="net472" />
  <package id="Ecng.PowerCollections" version="1.0.21" targetFramework="net472" />
  <package id="Ecng.Reflection" version="1.0.67" targetFramework="net472" />
  <package id="Ecng.Security" version="1.0.67" targetFramework="net472" />
  <package id="Ecng.Serialization" version="1.0.68" targetFramework="net472" />
  <package id="Ecng.StringSearch" version="1.0.23" targetFramework="net472" />
  <package id="Lokad.ILPack" version="0.1.6" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Nito.AsyncEx" version="5.1.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.1.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Oop" version="5.1.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.0" targetFramework="net472" />
  <package id="Nito.Cancellation" version="1.1.0" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.1.0" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.2.0" targetFramework="net472" />
  <package id="NuGet.Common" version="5.11.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="5.11.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.11.0" targetFramework="net472" />
  <package id="Octodiff" version="1.2.1" targetFramework="net472" />
  <package id="SmartFormat.NET" version="2.7.0" targetFramework="net472" />
  <package id="StockSharp" version="4.4.16" targetFramework="net472" />
  <package id="StockSharp.Algo" version="5.0.97" targetFramework="net472" />
  <package id="StockSharp.BusinessEntities" version="5.0.93" targetFramework="net472" />
  <package id="StockSharp.Community" version="5.0.93" targetFramework="net472" />
  <package id="StockSharp.Configuration" version="5.0.95" targetFramework="net472" />
  <package id="StockSharp.Fix" version="5.0.97" targetFramework="net472" />
  <package id="StockSharp.Fix.Core" version="5.0.57" targetFramework="net472" />
  <package id="StockSharp.Licensing" version="5.0.94" targetFramework="net472" />
  <package id="StockSharp.Localization" version="5.0.94" targetFramework="net472" />
  <package id="StockSharp.Logging" version="5.0.92" targetFramework="net472" />
  <package id="StockSharp.Messages" version="5.0.95" targetFramework="net472" />
  <package id="StockSharp.Quik" version="5.0.91" targetFramework="net472" />
  <package id="StockSharp.QuikLua" version="5.0.82" targetFramework="net472" />
  <package id="StockSharp.QuikLua32" version="5.0.82" targetFramework="net472" />
  <package id="StockSharp.Server.Core" version="5.0.71" targetFramework="net472" />
  <package id="StockSharp.Server.Fix" version="5.0.71" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Management" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>